/* Imports */
@import url("https://fonts.googleapis.com/css?family=Arizonia");
@import url(https://fonts.googleapis.com/css?family=Raleway);

/* Global Settings */
html, body {
  height: 100%;
  width: 100%;
  margin-top: 25px;
}

.navbar-nav li a {
  font-size: 16px;
}

/* Home Area */

#cover {
  background-image: url("../img/lake.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:100vh;
  width: 100%;
}

#coverDiv {
  margin: 54vh 0 0 3vw;
  font-family: 'Arizonia';
  color: white;
  text-shadow: 3px 3px black;
}

#coverDiv p:nth-child(2) {
  margin-left: 1.5em;
}

/* Biography Area */

#bioCover {
  position: relative;
  height: auto;
  background: url("../img/abstract.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

#bioHead p {
  color: black;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 2px #999;
  margin-top: 1vw;
  text-align: center;
  padding-top: 70px;
}

#skipBtn {
  position: absolute;
  color: #666;
  border-color: black;
}

.glyphicon-time {
  color: blue;
} 

#skipBtn:hover {
  color: red;
  border-color: red;
}

#bioImg img {
  height: auto;
  max-width: 100%;
  margin: 4vw 0 0 7vw;
}

#bioText {
  background-color: rgba(245, 241, 240, 0.8);
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  text-align: center;
  font-size: 5vw;
}

#bioTextEnd  {
  background-color: rgba(245, 241, 240, 0.8);
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  line-height: 175%;
  font-size: 5vw;
}

.allBtn {
  margin: 5vw 0 0 5vw;
}

#bioBtnResume {
  margin: 5vw 0 0 6vw;
}

#bioBtnGitHub img {
  width: 20vw;
  margin: 7vw 0 0 8vw;
  border: 3px solid black;
}

#bioBtnGitHub img:hover {
  border: 4px solid white;
}

#bioBtnLinkedIn {
  margin: 7vw 0 0 23%;
}

.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}


/* Work Area */

#workCover {
  background-image: url("../img/blue.jpg");
  color: #999;
  background-size: cover;
  padding-top: 2.4em;
  height: 110vw;
  width: 100%;
}

#someWorkDiv {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: center;
  padding-top: 7vw;
}

.carousel, .item, .active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
  margin-top: 1em;
}


/*Footer*/

#footer-main {
  font-family: 'Raleway', sans-serif;
  background: #222;
  color: white;
  padding-top: 7vw;
}

  
/*Media Queries*/

@media screen and (min-width: 1024px) {
  #coverDiv {
    margin: 53vh 0 0 7vw;
  }

  #bioBtnGitHub img {
    margin: 7vw 0 0 6.9vw;
    width: 19.8vh;
  }

  #bioBtnLinkedIn {
    margin: 5vw 0 0 6.7vw;
  }

  #bioText, #bioTextEnd {
    font-size: 3vw;
  }

  #workCover {
    height: 100vw;
  }

  .carousel-inner {
    width: 90%;
    margin: 1em 0 0 5vw;
  }
}  

@media screen and (min-width: 1200px) {
  #bioCover {
    height: 110vw;
  }

  #bioImg img {
    max-width: 120%;
    margin: 3vw 0 0 3vw;
  }

  #bioText, #bioTextEnd {
    margin: -60vw 0 0 1vw;
    font-size: 2vw;
  }

  .allBtn {
    clear: left;
    margin: 3vw 0 0 0;
  }

  #bioBtnGitHub img {
    margin: 5vw 0 0 6.7vw;
    width: 12.1vw;
  }
  
  #bioBtnLinkedIn {
    margin: 5vw 0 0 6.8vw;
  }
  
  #skipBtn {
    margin: -63vw 0 0 0; 
  }

  #workCover {
    height: 90vw;
  }
}

@media screen and (min-width: 1680px) { 
  #bioText, #bioTextEnd {
    margin: -53vw 0 0 1vw;
  }
  
  #bioBtnGitHub img {
    width: 9vw;
  }
  
  #skipBtn {
    margin: -56vw 0 0 0; 
  }

}

@media screen and (min-width: 1900px) {
  #bioBtnGitHub img {
    width: 8vw;
  }  

  .carousel {
    width: 80%;
    margin: 1em 0 0 10vw;
  }

}
